<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>博客</title>
  <link rel='stylesheet' href='../../public/css/main.css'>
</head>
<body>
<div class='container'>
  <div class='top clearfix'>
    <ul>
      <li><a href=''>Home</a></li>
      <li><a href=''>HTML5</a></li>
      <li><a href=''>CSS</a></li>
      <li><a href=''>JAVASCRIPT</a></li>
      <li><a href=''>PHP</a></li>
      <li><a href=''>JAVA</a></li>
    </ul>
  </div>
  <main class=''>
    <div class='content clearfix'>
      <ul>
        <li>
          <h1>NodeJS开发web</h1>
          <div class='article-info'>
              <span><span>作者：</span><a href=''>racts</a> </span>
              <span><span>时间：</span><a href=''>2018年10月</a> </span>
              <span><span>阅读：</span><a href=''>121</a> </span>
              <span><span>评论：</span><a href=''>0</a> </span>
          </div>
          <div class='keyWords'>NodeJs的发展历程</div>
          <div class='readall'><button onclick=''>阅读全文</button></div>
        </li>
        <li>
          <h1>JAVASCRIPT入门经典</h1>
          <div class='article-info'>
              <span><span>作者：</span><a href=''>racts</a> </span>
              <span><span>时间：</span><a href=''>2018年11月</a> </span>
              <span><span>阅读：</span><a href=''>119</a> </span>
              <span><span>评论：</span><a href=''>10</a> </span>
          </div>
          <div class='keyWords'>JavaScript的发展历程</div>
          <div class='readall'><button onclick=''>阅读全文</button></div>
        </li>
      </ul>
    </div>
    <div class='info'>
      <div class='register'>
        <p class='info-title'>注册</p>
        <div class='input-box'>
          <label for='username'>用户名</label><input id='username'>
        </div>
        <div class='input-box'>
          <label for='password'>密码</label><input id='password'>
        </div>
        <div class='input-box'>
          <label for='con-pass'>确认</label><input id='con-pass'>
        </div>
        <div class='reg-btn'>
          <button>注册</button>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
