<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>博客</title>
  <link rel='stylesheet' href='/public/css/common.css'>
  <link rel='stylesheet' href='/public/css/main.css'>
  <link rel='stylesheet' href='/public/css/view.css'>
  <script src='/public/js/jquery-3.3.1.min.js'></script>
  <script src='/public/js/jquery.cookie.js'></script>
  <script src='/public/js/index.js'></script>
  <script src='/public/js/comment.js'></script>
</head>
<body>
<div class='container'>
  <div class='top clearfix'>
    <ul>
      {% if category == '' %}
      <li><a href='/' class='focus'>首页</a></li>
      {% else %}
      <li><a href='/'>首页</a></li>
      {% endif %}
      {% for item in categoryList %}
      {% if category == item.id %}
      <li><a href='/category=item.id' class='focus'>{{item.name}}</a></li>
      {% else %}
      <li><a href='/category=item.id'>{{item.name}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <main class=''>
    <div class='content clearfix'>
      <!--<h1>NodeJS开发web</h1>-->
      <h1>{{content.title}}</h1>
      <div class='article-info'>
        <span><span>作者：</span><a href=''>{{content.user.username}}</a> </span>
        <span><span>时间：</span><a href=''>{{content.addTime | date('Y-m-d H:i:s',-8*60)}}</a> </span>
        <span><span>阅读：</span><a href=''>{{content.views}}</a> </span>
        <span><span>评论：</span><a href=''>0</a> </span>
      </div>
      <div class='keyWords'>{{content.description}}</div>
      <div id='inner'>
        {{content.content}}
      </div>
      <div class='comment'>
        <div>
          <strong>评论区</strong>
          <span>一共有<span>{{content.comments.length}}</span>条评论</span>
        </div>
        {% if userInfo._id %}
        <div>
          <textarea id='cont'></textarea>
          <input type='hidden' id='contentid' value='{{content.id}}'>
          <button class='commentBtn'>提交</button>
        </div>
        {% else %}
        <div>您还没有登录，请先<a href=''>登录</a></div>
        {% endif %}
        <ul class='comment-list'>
          {% for comment in content.comments %}
          <li>
            <div><p>{{comment.username}}</p>
              <p>{{comment.postTime | date('Y-m-d H:i:s',-8*60)}}</p></div>
            <div>{{comment.content}}</div>
          </li>
          {% endfor %}
        </ul>
        <div class='pagination'>
          <span class='pre'><a href='javascript: void (0)'>上一页</a></span>
          <span class='pageInfo'></span>
          <span class='next'><a href='javascript: void (0)'>下一页</a></span>
        </div>
      </div>
    </div>
    <div class='info'>
      {% if userInfo._id %}
      <div class='userinfo'>
        <p class='info-title'>用户信息</p>
        <div class='name' id='name'>{{userInfo.username}}</div>
        {% if userInfo.isAdmin %}
        <div class='welcome' id='welcome1'>欢迎来到我的博客 <a href='/admin'>进入管理</a></div>
        {% else %}
        <div class='welcome' id='welcome'>欢迎来到我的博客</div>
        {% endif %}
        <div class='btn' id='btn'>
          <button>退出</button>
        </div>
      </div>
      {% else %}
      <div class='register'>
        <p class='info-title'>注册</p>
        <div class='input-box'>
          <label for='username'>用户名</label><input id='username'>
        </div>
        <div class='input-box'>
          <label for='password'>密码</label><input id='password' type='password'>
        </div>
        <div class='input-box'>
          <label for='con-pass'>确认</label><input id='con-pass' type='password'>
        </div>
        <div class='btn'>
          <button id='reg-btn'>注册</button>
        </div>
        <div class='tip'>已有账号？<a href='javascript:void(0)' id='toLogin'>马上登录</a></div>
        <div class='remind'></div>
      </div>
      <div class='login hide'>
        <p class='info-title'>登录</p>
        <div class='input-box'>
          <label for='user-name'>用户名</label><input id='user-name'>
        </div>
        <div class='input-box'>
          <label for='pass'>密码</label><input id='pass' type='password'>
        </div>
        <div class='btn'>
          <button id='login-btn'>登录</button>
        </div>
        <div class='tip'>还没注册？<a href='javascript:void(0)' id='toReg'>马上注册</a></div>
        <div class='remind'></div>
      </div>
      {% endif %}
      <div class='community'>
        <p class='info-title'>社区</p>
        <ul>
          <li><a href=''>制度规则</a></li>
          <li><a href=''>社区之家</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
</body>
</html>
